<%- include('../layouts/header', { title: 'Create City' }) %>

  <h2>Create Flight</h2>

  <div id="errorBox"></div>

  <form id="flightForm">
    <input type="text" class="form-control mb-2" id="cityName" placeholder="city name">

    <button class="btn btn-primary">Submit</button>
  </form>

<%- include('../layouts/footer') %>

<script src="/js/city.js"></script>